pandas
numpy~=1.24.4
PyYAML
rosbags
scipy
pandas
matplotlib
dateparser
paramiko
PyQt5
pyqt5-tools
ping3
PyQt-Fluent-Widgets
pyyaml
pytz
pyvisa
pyserial
moviepy
Pillow
pexpect
openpyxl
reportlab
scp
wcwidth
pymongo
Spire.XLS
atlassian-python-api==3.41.1
shapely
ffmpeg-python
protobuf==3.20.3
requests
open3d
opencv-python-headless~=4.10.0.84
opencv-contrib-python-headless~=4.7.0.72
psutil
python-can
cantools
boto3
botocore