pandas~=2.0.3
numpy~=1.24.4
PyYAML~=6.0.2
rosbags~=0.9.23
scipy~=1.10.1
pandas
matplotlib~=3.7.5
dateparser
paramiko~=3.5.1
PyQt5~=5.15.9
pyqt5-tools
ping3~=4.0.8
PyQt-Fluent-Widgets
pyyaml
pytz~=2025.2
pyvisa~=1.14.1
pyserial~=3.5
moviepy
Pillow~=10.4.0
pexpect
openpyxl~=3.1.5
reportlab~=4.4.0
scp~=0.15.0
wcwidth~=0.2.13
pymongo~=4.10.1
Spire.XLS
atlassian-python-api==3.41.1
shapely~=2.0.7
ffmpeg-python
av
protobuf==3.20.3
requests~=2.32.3
open3d~=0.19.0
setuptools~=75.3.2
opencv-python-headless~=4.10.0.84
opencv-contrib-python-headless~=4.7.0.72